<%- include('header') %>


<!-- <div class="jumbotron centered">
  <div class="container2">

    <h1 class="display-3">Secrets</h1>
    <p class="lead">Don't keep your secrets, share them asfwfewfew  else if (wffw) {
      efwfwffwfweewrqweqqvqesdvverggegqergqhg4wg4tttttrhhhaahhdfshfdsghshhshhgfhshshghgghsgffgfshhs
    }anonymously!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div> -->


<div class="jumbotron ">
  <div class="container">
    <i class="fas fa-book-reader fa-6x"></i>
    <h1 class="display-4">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
  </div>
</div>


<%- include('footer') %>
